
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}

.visibility{
    display: none;
}
.Container{
    max-width: 80vw;
    font-family: 'Ubuntu', sans-serif;
}

.navbar{
    display: flex;
    height: 67px;
}
.navbar li{
    list-style: none;
    margin: 0 12px;
}


.topleft{
    width: 50%;
}

.topright{ 
    width: 50%;
}

.section1{
   max-height: 100vh; 
   color: #711e15;
}

.section1 h1{
    color: #37110d;
    font-size: 2rem;
}

.logo{
    font-size: 1.3rem;
}

.dumbellimg{
    width: 289px;
}

.topright .gymimg{
    width: 466px;
}

.section2{
    padding: 73px;
}

.section2 h1{
    font-size: 2.3rem;
}

.section2 p{
    padding: 0 8vw;
    text-align: center;
}

.box{
    padding: 8px 0;
    margin: 12px 22px;
    min-width: 20vw;
    border: 2px solid rgb(120, 54, 16);
    border-radius: 8px;
    text-align: center;
}

.box h2{
    font-size: 2rem;
    padding: 15px 0;
}

.highlighted{
    font-size: 1.2rem;
    font-weight: bolder;
}

.box ul{
    list-style-type: none;
}

.box ul li{
   margin: 12px 2px;
}

.plantable{
    display: flex;
    justify-content: center;
    align-items: center;
}

.section3 table{
    width: 100%;
    margin-bottom: 140px;
    margin-top: 20px;
    border-collapse: collapse;
}

.section3 table th{ 
    width: 23vw; 
    border-bottom: 2px solid black;
    padding: 15px 0;
} 

.section3 table td{   
    border-bottom: 2px solid black; 
} 
 

.section3 h1{
    font-size: 2.3rem;
}

.section3{
    padding: 73px;
}

footer{
     
    background: #000;
    height: 200px;
    color: white;
    text-align: center;
    
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px;
}

.deal{
    font-size: 1.2rem;
    font-weight: bolder;
    margin: 12px 0;
}

/*-----------------------
-------------------------
    about section start
 --------------------------
 -------------------------*/
 :root {
    --orange-color: orange;
    --first-color: #ACDDDE;
    --secound-color: #CAF1DE;
    --third-color: #E1F8DC;
    --fourth-color: #E5E5E5;
    --fifth-color: #C3D5EB;
    --sixth-color: #C9FFC2;
    --seventh-color: #B4D7A2;

}

 .column-1 {
    
    float: left;
    width: 36%;
    padding: 40px;
    padding-left:60px;
    padding-right: 70px;
    height: 475px;
    margin:30px;
    margin-right:30px;
    margin-bottom: 70px;
    line-height:2;
    border-radius: 10px;
   

  }
  .column-1 > ol{
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
  }

  .column-2 {
    float: left;
    width: 44%;
   margin-top: 40px;
    border-radius: 5px;
  }
 
 /*-----------------------
-------------------------
    About Section ends
 --------------------------
 -------------------------*/

/* ---------------------------------------------------------------------------------------------------------------------------------------------- */

 /*-----------------------
-------------------------
    Services Section start
 --------------------------
 -------------------------*/
 
.cover img{
    
    object-fit: cover;
    margin-left: 8px;
    border-radius: 5px;
    /* box-shadow: 20px 20px 50px grey; */  
}

.Card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 31%;
    
  }
  
  .Card:hover {
    box-shadow: 0 16px 32px 0 rgba(0,0,0,0.2);
  }
  
  .Container {
    padding: 2px 16px;
  }

  .Mb-1{

    margin-bottom: 28px;
  }

.line-height-1{
    line-height: 55px;
  }

.line-height-2{
    line-height: 25px;
  }
  .h1{

    font-size:55px;
  }

  .hrRole{

    border-top: 5px dashed gray;
  }


  /*-----------------------
-------------------------
    Services Section ends
 --------------------------
 -------------------------*/



   /*-----------------------
-------------------------
    contractUs Section start
 --------------------------
 -------------------------*/
 

.h1{
    font-size: 55px;
}
.h2{
    font-size: 40px;
}

.span-color{
    color: rgb(56, 121, 121);
}
.side-border{
    border-left: 5px solid tomato;
    padding-left:20px ;
    border-radius: 5px;
   
}
.p{
        font: 17px Arial, sans-serif, Helvetica,Verdana;
        line-height: 1.5;
}
.a{
    text-decoration: none;
    background-image: linear-gradient(45deg, tomato , lightsalmon);
    color: white;
    padding: 13px 30px;
    border-radius: 5px;
    display: inline-block;
}
.half-width{

    width: 40%;
    float: left;
    margin-left: 5%;
    padding: 2%;

}
.half-width img{

    width: 90%;
}
#padding{

    padding-top: 40px;    
}
.section{
    height: 600px;
    padding-bottom: 100px;
    margin-left: 70px;
}

/* mission part */
.my-mission{

    width: 400px;
    float: left;
    margin-left: 2%;
    padding: 1%;
}
.mission-2022 div{

    box-shadow: 5px 7px 40px gray;
    height: 65%;
    border-radius: 10px;
    
}

.mission-2022 img{
    position: left;
    width: 140px;
}

#bg-image{

    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position-y: 100px;
    background-size: 200px;
}

/* my-tast part */

.label{
    font-size: 20px;
}
 .input{
    width: 80%;
    padding: 8px;
    border-radius: 5px;
 }

 .input:focus{

    outline: none;
    border: 5px solid var(--first-color);
    box-shadow: 5px 5px lightgray;
 
 }

.button{

    border: none;
    background-color: tomato;
    padding: 10px 20px ;
    color: white;
    font-weight: 500;
    border-radius: 10px;
}


  /*-----------------------
-------------------------
    contractUs Section ends
 --------------------------
 -------------------------*/

/*------------------------------------------------------------------------------------------------------------------------ */

  /*-----------------------
-------------------------
    Registration Section Starts
 --------------------------
 -------------------------*/




  /*-----------------------
-------------------------
    Registration Section ends
 --------------------------
 -------------------------*/