.min-h-screen{
    min-height: 100vh;
}

.bg-body{
    background-color: #ECEAE8;
}
.br{
    border-radius: 10px;
}
.bg-red{
    background-color: red;
}

.mx-auto{
    margin-left: auto;
    margin-right: auto;
}

.Flex{
    display: flex;
}

.items-center{
    align-items: center;
}

.justify-between{
    justify-content: space-between;
}

.justify-center{
    justify-content: center;
}

.Flex-col{
    Flex-direction: column;
}
.navbar li .anchor{
    outline: none;
    text-decoration: none;
    color: black;
    font-weight: 600;
}
.navbar li .anchor:hover{
    /* border-bottom: 1px solid; */
    padding: 20px;
    border-radius: 5px;
    background: rgb(246, 241, 241) ;
}


.font-bold{
    font-weight: bolder;
}

.MY-1{
    margin-top: 13px;
    margin-bottom: 13px;
}

.MY-2{
    margin-top: 26px;
    margin-bottom: 26px;
}

.PX-2{
    padding-left: 13px;
    padding-right: 13px;
}

.text-blue{
    color: rgb(227 74 56);;
}
.text-orange{
    color: orange;
}

.Btn{
    padding:7px 12px;
    border: 2px solid white;
    border-radius: 6px;
    cursor: pointer;
    color: white;
    background-color: rgb(227 74 56);;
}

.overflow-x-hidden{
    overflow-x: hidden;
}

.text-center{
    text-align: center;
}

